
 <div class="info container" >
  <form class ="form" name="RegForm" action="/action_page.php" method="post">
    
      <label for="sem">Enter  Semester:</label>
      <input type="text" id="sem" name="sem" required
      [(ngModel)]="sem"><br><br>

      <label for="subject">Enter  Subject:</label>
      <input type="text" id="subject" name="subject" required
      [(ngModel)]="subject"><br><br>

     
      <div class="search">
      <input type="submit"(click)="click()" value="Search">
      </div>
      </form>
      </div>