
<div style="padding-top: 50px; padding-bottom: 50px;" class="outer-container">
  <div class="image-container"><div class="image1"><img class="image" src="../../../assets/images/stcet.png"/></div></div>
  <div class="form-container">
    <form class ="form" action="action_page.php" method="post">
      <div class="container">
        <div>
          <p style="font-size: 25px;">Hi, Welcome Back!</p>
          <p style="font-size: 20px;">Login</p>
          <div>
            <label for="userid"><b>UserID</b></label>
            <input
              type="text"
              placeholder="Enter UserID"
              name="userid"
              required
              [(ngModel)]="userid"
            />
          </div>
        </div>
        <div>
          <label for="password"><b > Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
            [(ngModel)]="password"
          />
        </div>

        <button type="submit" (click)="clickHandler()" type="button" class="btn btn-dark">Login</button>
        <span class="psw"> <a href="#" style="color: blue; " routerLink="/forgotpasswordteacher" (click)="onPress()">Forgot Password?</a></span>
        <br>
        <span class="psw"><a href="#" style="color: blue; " routerLink="/teacher-sign-up">Not a member?SignUp</a></span>
      </div>

      <div class="link-container">


        <br />
        <p>OR</p>
        <br />
        <p>Login with</p>
        <div>

          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />

          <!-- Add font awesome icons -->
          <a href="https://www.facebook.com" class="fa fa-facebook"></a>

          <a href="https://myaccount.google.com" class="fa fa-google"></a>
          <a href="https://twitter.com" class="fa fa-twitter"></a>
        </div>
      </div>
    </form>
  </div>
</div>
