/* Bordered form */

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:50px;
  }
  button {
    opacity: 0.8;
  }

  button:hover {
    opacity: 1.0;
  }
  /* Add a hover effect for buttons
  .button:hover {
    opacity: 0.8;
  } */

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    /* float: left; */
    padding-top: 10px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  /* Styles for social media icons */
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 7px 5px;
    border-radius: 60%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  /* Set a specific color for each brand */
  /* Google */
  .fa-google {
    background: #0f0301;
    color: white;
  }

  /* Facebook */
  .fa-facebook {
    background: #000000;
    color: white;
  }
  .fa-twitter {
    background: #01090f;
    color: white;
  }
  .outer-container{
    display:flex
  }
  .image-container{
    background-size: 100%;
    flex:1;

  }
  .form-container{
    flex:1
  }
  .link-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .image{
    height:100%;
    width:100%;
  }
  .image1{
    height:85%;
    width:95%;
    margin:10% auto
  }
  .form{
    height:70%;
    width:70%;
    margin:auto;
  }

  .topnav {
    position: relative;
    background-color:white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px rgba(58, 55, 55, 0.288);

  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration: underline;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
    color: black;
  }

  /* Centered section inside the top navigation */
  .topnav-centered a {

    display: flex;
    justify-content: center;
  }

  /* Right-aligned section inside the top navigation */
  .topnav-right {
    text-decoration: black;
    justify-self: right;
  }
