body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }

  img {
    width: 400px;
    height: 267px;
  }

  input {
    width: 400px;
    margin: 1em;
    height: 2em;
  }
td{
  padding-left:50px;

}
  button {
    background-color: #333;
    color: #fff;
    height: 2em;
    width: 400px;
    border-radius: 4px;
    margin: 1em;
  }

  button:hover {
    cursor: pointer;
    background-color: #444;
    color: #eee;
  }

  .profile {
    width: 400px;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
h1{
  margin-bottom: 100px;
  margin-top: 50px;
  font-family: fantasy;
  word-spacing: 10px;
  font-size: 50px;

}
  .profile div {
    background-color: #eee;
    font-size: 24px;
  }
  .hi {
    width: 100%;
   padding-top: 70px;
   padding-left: 540px;
   padding-bottom: 50px;

  }
  table{
    position:relative;
    right:200px;
  }
