
<div style="padding-top: 70px;" class="container">
    <h1 class="text-center">Contact Address</h1>
    <hr>
      <div class="row">
        <div class="col-sm-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    
        <div class="col-sm-4" id="contact2">
            <h3>St. Thomas' College of Engineering & Technology</h3>
            <hr align ="left" width="50%">
            <i class="fas fa-globe" style="color:#000"></i> address<br>
            <h4 class="pt-2"> 4, Diamond Harbour Road, Kidderpore, Kolkata - 700023</h4>
            <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 9903245466 / 8017176253 </a><br>
            <i class="fab fa-whatsapp" style="color:#000"></i><a href="tel:+"> 9903245466 / 8017176253 </a><br>
            <h4 class="pt-2">Email</h4>
            <i class="fa fa-envelope" style="color:#000"></i> <a  href="https://www.google.com/search?q=stcet%40stcet.ac.in&rlz=1C1CHBF_enIN790IN790&oq=stcet%40stcet.ac.in&aqs=chrome..69i57j69i58.11576j1j7&sourceid=chrome&ie=UTF-8">stcet@stcet.ac.in </a><br>
          </div>
      </div>
    </div>
    <br><br>
    <div class="row text-center bg-success text-white" id="author">
      <div class="col-12 mt-4 h3 ">
        <a><strong>Follow Us</strong></a>
    </div>
    <div style="padding-bottom: 60px;" class="col-12 my-2">
        <a href="https://www.instagram.com/apsolutio/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/apsolutio" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/company/apsolutio/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/apsolutioindia/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
    </div>
    </div>