
<div style="padding-left: 22%;" class="container">
    <h1>Upload Assignment</h1>
    <div class="row">
      <div class="col-md-6">


    <form [formGroup]="form" >



      <div >
        <input  class="gr" formControlName="sem" type="text" placeholder="Please enter respective semester " />
      </div>
      <div >
        <input class="gr" formControlName="subject" type="text" placeholder="Please enter respective subject" />
      </div>
      <div >
        <input class="gr" formControlName="name" type="text" placeholder="Assignment number" />
      </div>
      <div >
        <input class="gr" formControlName="chapter" type="text" placeholder="Name of the chapter" />
      </div>
      <br>




      <div style="padding-left: 15px;">
        <input class="ngr" formControlName="image" (change)="onFileSelect($event)" type="file" multiple=true />
      </div>
      <div *ngIf="imageData">
        <img [src]="imageData" [alt]="form.value.name" />
      </div>
    </form>



        <button  type="submit"  class="btn btn-info btn-lg" (click)="onSubmit()"><i class="fas fa-upload"></i> Upload</button><br>



    </div>
    </div>
  </div>
