
<div style="padding-left: 22%;" class="container">
    <div class="row">
      <div class="col-md-6">
        
       
    <form [formGroup]="form" >
      
      <label style="padding-top: 20%; padding-left: 25px;"><h1>Upload Assignment</h1></label>
      <div >
        <input formControlName="sem" type="text" placeholder="Please enter respective semester " />
      </div>
      <div >
        <input formControlName="subject" type="text" placeholder="Please enter respective subject" />
      </div>
      <div >
        <input formControlName="name" type="text" placeholder="Assignment number" />
      </div>
      <br>
      

      <br>
     
      <div style="padding-left: 15px;">
        <input (change)="onFileSelect($event)" type="file" multiple=true />
      </div>
      <div *ngIf="imageData">
        <img [src]="imageData" [alt]="form.value.name" />
      </div>
    </form>
    <br>
    
      <div style="padding-bottom: 50px;">
        <button  type="submit"  class="btn btn-dark" (click)="onSubmit()">Upload</button><br>
       
      </div>
    
    </div>
    </div>
  </div>