<div class="bg-image"></div>
<div class="content">
  <img src="D:\New-Final-Year-Project\FinalYearProject\FinalYearProject\FinalYearProject\NewE-classroom\front-end\src\assets\images\stcet.png" alt="pic">

            <br><br><br><br><br><br><br>
       <div class="text-container"><h1 class="heading">Hurry Up!</h1><br>
         <h1 class="heading">Lets get on boarded</h1>
        <br>
        <br> <br>

        <div id="container">

        <button type="button" class="btn btn-primary" style="margin-left: 32%; " onclick="parent.location='/teacher-sign-in'">TEACHER SIGN-IN</button><br><br><br>
        <button  type="button" class="btn btn-primary" style=" margin-left: 32%;"  onclick="parent.location='/sign-in'">STUDENT SIGN-IN</button>



        </div>
        </div>
