*{

    margin: 0px;

    margin: 0;

    padding: 0;
    list-style: none;
    text-decoration: none;

  }


.heading{
  font-size: 55px;
  padding-left: 170px;
  padding-top: 0%;
  font-stretch: expanded;
}


  .content{
    height: 100vh;
    width: 100%;
    margin:0;
color:white;
font-weight: bolder;
line-height: 1.5;
background-image: url("src\assets\images\stcet.png");
background-color: #8ee4af;
background-repeat: no-repeat;
background-position: right;
background-size: 50% 100%;

  }
  #container{
    position:relative;
    right:380px;
  bottom:30px;

  }
.btn{
  border-radius: 100px;

}
  button {


    width: 550px;


    margin: auto 100px auto auto ;
    border-radius: 6px;
    color: white;
    text-decoration: solid;
    padding: 10px 50px;
    text-align: center;

    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-color: 2px black;
  }


  .button a:hover{
    color: black;
  }


  .button :hover{
    background-color: darkslategrey;
  }
