<div style=" padding-left: 5px; padding-top: 70px;">
    <h1 style="text-align: center;">Uploaded Chapters</h1>
    </div>
    
    <div  class="container-fluid hi">
        
        
        <table style=" padding-left: 5px;">
          <tr>
            
            
            <th>Chapter:</th>
          </tr>
          <tr *ngFor="let res of profiles">
           <td >
            <button type="button" class="btn btn-primary btn-sm mx-auto" (click)="submit(res.chapter)"><b>{{res.chapter}}</b></button></td>
           
           
           
            
            
          </tr>
       
        </table>
       
        </div>
  
