<div style=" padding-left: 5px; padding-top: 70px;">
    <h1 style="text-align: center;">Uploaded Chapters</h1>
    </div>
    
    <div  class="container-fluid hi">
        
        
        <table>
          <tr>
            
            
            <th>Chapter:</th>
          </tr>
          <tr *ngFor="let res of profiles">
           <td ><a  [href]="learningstudent/sem/subject/res.chapter" style="color: black">
            <span><b>{{res.chapter}}</b></span></a></td>
           
           
           
            
            
          </tr>
       
        </table>
       
        </div>
  
