body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }
  button {

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    /* cursor: pointer; */
    width: 450px;
    border-radius:50px;
    background-color: #333;
    color: #fff;
  }
  
  img {
    width: 400px;
    height: 267px;
  }
  
  input {
    width: 400px;
    margin: 1em;
    height: 2em;
  }
  
  /* button {
    background-color: #333;
    color: #fff;
    height: 2em;
    width: 400px;
    border-radius: 4px;
    margin: 1em;
  } */
  button {
    opacity: 0.8;
  }
 
  button:hover {
    opacity: 1.0;
    cursor: pointer;
    /* background-color: #444;
    color: #eee; */
  }
  
  .profile {
    width: 400px;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .profile div {
    background-color: #eee;
    font-size: 24px;
  }
  .hi {
    width: 50%;
   /* padding-top: 60px; */
   padding-left: 8000%;
   /* padding-bottom: 20px; */
}
/* .files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
} */
/* .files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
} */
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 45px;
  width: 60px;
  right: 0.5px;
  height: 60px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 10px; */
  
}
/* .color input{ background-color:#f1f1f1;} */
/* .files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. "; 
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
} */