
<div class="content">




<h2>  Welcome to Teacher's Page</h2>


<div id="container">

<button type="button" class="btn btn-primary"(click)="materialuHandler()" ><h3>Upload Materials</h3></button><br><br>
<button  type="button" class="btn btn-danger"(click)="materialHandler()"><h3>Upload Assignment</h3></button><br><br>
<button  type="button" class="btn btn-success"(click)="answerdownHandler()"><h3>Download Answers</h3></button><br><br>
<button  type="button" class="btn btn-dark"><h3>Upload Result</h3></button>


</div>
</div>
