h2{
  text-align:center;
    color:#454545;
  margin-top: 60px;
  margin-bottom: 90px;
  font-size: 60px;
  font-family: fantasy;
  font-weight: bolder;

}
.content{
  padding-top:20px;
    padding-bottom: 40px;
margin-top:40px;
  margin-bottom: 40px;

background-color: rgb(202, 242, 245);

  text-align: center;
}
h5{
  font-weight: bold;
  font-size:16px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 100px;
}

.row1 {margin-left:50px;
margin-top:40px;}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  width:18rem;

}
.row2 {margin-left:50px;
margin-top:40px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

#container{
  padding-top: 30px;
  padding-bottom: 30px;
}
