
<div style="padding-top: 50px; padding-bottom: 50px;" class="outer-container">
  <div class="image-container"><div class="image1"><img class="image" src="../../../assets/images/stcet.png"/></div></div>
  <div class="form-container">
    <form class ="form" action="action_page.php" method="post">
      <div class="container">
        <div>
          <p ><strong>Forgot Your Password?</strong></p><br>
          <p>If you have forgotten your password,please enter your account's security code below and click the "Reset My Password" button.</p>
          <div>
            <label for="securitycode"><b>SecurityCode</b></label>
            <input
              type="text"
              placeholder="Enter SecurityCode"
              name="securitycode"
              required
              [(ngModel)]="securitycode"
            />
          </div>
        </div>
        <div>
          <label for="password"><b > Password</b></label>
          <input
            type="password"
            placeholder="Enter New Password"
            name="password"
            required
            [(ngModel)]="password"
          />
        </div>

        <button type="submit" (click)="clickHandler()" type="button" class="btn btn-dark">Reset My Password</button>
        <span class="psw"><a href="#" routerLink="/teacher-sign-in" (click)="back()" style="color: blue;">Return to Login Page</a></span>
        
      </div>

      <div class="link-container">


        <br />
       
        
      </div>
    </form>
  </div>
</div>
