

<div class="content">




<h2>  Welcome to Student's Page</h2>


<div id="container">

<button type="button" class="btn btn-primary"(click)="materialdHandler()" ><h3>Download Material</h3></button><br><br>
<button  type="button" class="btn btn-danger"(click)="assignmentdownloadHandler()"><h3>Download Assignment</h3></button><br><br>
<button  type="button" class="btn btn-success"(click)="answerHandler()"><h3>Upload Answers</h3></button><br><br>
<button  type="button" class="btn btn-warning"(click)="resultHandler()"><h3>View Result</h3></button><br><br>
<button  type="button" class="btn btn-dark"(click)="videocallHandler()"><h3>Doubt Clearing Session</h3></button>

</div>
</div>
