h2{
  text-align:center;

  margin-top: 60px;
  margin-bottom: 90px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bolder;
  color:#1F51FF;
}
.content{
  padding-top:20px;
    padding-bottom: 40px;
margin-top:40px;
  margin-bottom: 40px;
text-align:center;

  background-image: url("src\assets\images\stcet_students.jpg");
  background-repeat: no-repeat;

  background-size:100%;
}

.btn{
margin:auto;
text-align: center;
height: 90px;
width:500px;
display:block;
align-items: center;
border-radius: 35px;
font-size: 20px;
font-weight: bolder;

}
#container{
  padding-top: 30px;
  padding-bottom: 30px;
}
