h1{
  font-weight:bolder;
  font-family: sans-serif;
  color:#000080;

font-size:50px;
  margin-bottom: 30px;
  text-align:center;
  line-height:normal;
}

button {

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 480px;
    height:68px;
    border-radius:50px;
    font-size:28px;
    font-weight: bold;

  }
  button {
    opacity: 0.8;
  }

  button:hover {
    opacity: 1.0;
  }
  .container{
    background-image: url("src\assets\images\studymat.jpeg");
    background-repeat: no-repeat;
opacity:0.8;
    background-size:100%;
  }
.endbutton{
  margin-top:70px;
  margin-bottom:60px;

}
.gr{
  margin:20px auto;
  width:125%;
  background-color:#D1D0CE;
}
.ngr{
  position:relative;
  margin: auto;
left:120px;
}
