<div style="padding-left: 22%;" class="container">
  <h1>Upload Material</h1>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form">

        <div>
          <input class="gr" formControlName="sem" type="text" placeholder="Enter respective semester " />
        </div>
        <div>
          <input class="gr" formControlName="subject" type="text" placeholder="Enter respective subject" />
        </div>
        <div>
          <input class="gr" formControlName="name"  type="text" placeholder="Enter name of the file" />
        </div>
        <br>
        <div style="padding-left: 15px;">
          <input class="ngr" formControlName="image" (change)="onFileSelect($event)" type="file"/>
        </div>
        <br>
        <div>
          <input class="gr" formControlName="chapter" type="text" placeholder="Enter name of the chapter" />
        </div>
      </form>

        <button type="submit" class="btn btn-info btn-lg" (click)="onSubmit()" >
          <i class="fas fa-upload"></i> Upload
        </button>
<button type="submit" class="btn delete btn-success btn-lg" (click)="onupdate()"><i class="fas fa-trash-alt"></i>Delete Material</button>



  </div>

  </div>
  </div>
