<div style="padding-left: 22%;" class="container">
  <div class="row">
    <div class="col-md-6">


  <form [formGroup]="form" >

    <label style="padding-top: 20%; padding-left: 25px;"><h1>Upload Material</h1></label>
    <div >
      <input class="gr" formControlName="sem" type="text" placeholder="enter respective semester " />
    </div>
    <div >
      <input class="gr" formControlName="subject" type="text" placeholder="enter respective subject" />
    </div>
    <div >
      <input class="gr" formControlName="name" type="text" placeholder="enter name of the file" />
    </div>

    <br>

    <div style="padding-left: 15px;">
      <input class="ngr" (change)="onFileSelect($event)" type="file" multiple=true />
    </div>

    <br>
    <div >
      <input class="gr" formControlName="chapter" type="text" placeholder="enter name of the chapter" />
    </div>
  </form>
  <br>

    <div class="endbutton" style="padding-bottom: 50px;">
      <button  type="submit"  class="btn btn-success" (click)="onSubmit()"><i class="fas fa-upload"></i> Upload</button><br>

    </div>

  </div>
  </div>
</div>
