<div class="home">
    <div class="home-content">
      <h1 color="accent" ><strong>Stcet Classroom</strong></h1>
      <h3 >Empowering educators to improve our world </h3>

  </div>
  </div>
  <div  class="row">







  <div class="column">
    <div class="card  border-info mb-3" >
  <button class="btn"><div class="card-header bg-info" (click)="loginHandler()"><i class="fas fa-unlock-alt" style="font-size:38px;color:white;margin-right:5px"></i></div></button>
<div class="card-body">
  <h5 class="card-title text-info">Sign-in</h5>
  <p class="card-text">Welcome back!Registered students login here</p>
</div>
</div>


  </div>
  <div class="column">
    <div class="card  border-success mb-3" >
<button class="btn"><div class="card-header bg-success" (click)="signupHandler()"><i class="far fa-edit" style="font-size:38px;color:white;margin-right:5px"></i></div></button>
<div class="card-body">
  <h5 class="card-title text-success">Sign-Up</h5>
  <p class="card-text">New Student?Register here to access the portal</p>
</div>
</div>


  </div>
</div>
