<div class="home">
    <div class="home-content">
      <h1 color="accent" ><strong>Stcet Classroom</strong></h1>
      <h3 >Empowering educators to improve our world </h3>

  </div>
  </div>
  <div style="padding-bottom: 50px;padding-top: 10px;" class="columns">

  <div class="column">

  <button type="button" class="btn btn-lg btn-outline-info" (click)="loginHandler()"> <h3><i class="fas fa-unlock-alt"></i>  Login</h3></button>

  </div>

  <div class="column">

  <button type="button" class="btn btn-lg btn-outline-success" (click)="loginHandler()"><h3><i class="far fa-edit"></i>  Sign-Up</h3></button>

    </div>
  </div>
