<div class="home">
    <div class="home-content">
      <h1 color="accent" ><strong>Osaa</strong></h1>
      <h3 >empowering educators to improve our world </h3>
      
  </div>
  </div>
  <div style="padding-bottom: 50px;padding-top: 10px;" class="columns">
  
  <div class="column">
    <mat-icon color="primary">class</mat-icon>
    <h3>Teaching & Learning</h3>
    <p>Teachers can  upload study-materials and students have access to these</p>
  </div>
  <div class="column">
    <mat-icon color="primary">assignment</mat-icon>
    <h3>Tests & Assignments</h3>
    <p>Students can take and submit assignments and tests</p>
  </div>
  <div class="column">
    <mat-icon color="primary">assessment</mat-icon>
    <h3>Results</h3>
    <p>Teachers provide results  using grades</p>
    </div>
  </div>