
<div style="padding-left: 22%;" class="container">
    <div class="row">
      <div class="col-md-6">

<h1>Upload Answer</h1>
<div class="info">


    <form [formGroup]="form" >


      <div >
        <input class="text" formControlName="sem" type="text" placeholder="Enter respective semester " />
      </div>
      <div >
        <input class="text" formControlName="subject" type="text" placeholder="Enter respective subject" />
      </div>
      <div >
        <input class="text" formControlName="name" type="text" placeholder="Enter your Name" />
      </div>
      <div >
        <input class="text" formControlName="chapter" type="text" placeholder="Enter chapter name" />
      </div>
      <br>


      <br>

      <div style="padding-left: 15px;">
        <input class="file" formControlName="chapter" (change)="onFileSelect($event)" type="file" multiple=true />



      <span *ngIf="imageData">



        <img [src]="imageData" [alt]="form.value.name" />

      </span>
      </div>
    </form>
    </div>
    <br>

      <div class="upload"style="padding-bottom: 50px;">
        <button  type="submit"  class="btn btn-info btn-lg" (click)="onSubmit()">Upload</button><br>

      </div>

    </div>
    </div>
  </div>
