<div class="bg-image"></div>
<div class="content">    
        <img src="D:\New-Final-Year-Project\FinalYearProject\FinalYearProject\FinalYearProject\NewE-classroom\front-end\src\assets\images\Mask_Group_3@2x.png" alt="pic">
            <br><br><br><br><br><br><br>
       <div class="text-container"><h2></h2>
        <br>
        <br> <br>
        <div id="container">
        <button style="background-color: rgba(183, 190, 201, 0.836);margin-left: 32%; " onclick="parent.location='/teacher-sign-up'">TEACHER SIGN-UP</button><br><br>
        <button style="background-color: rgba(183, 190, 201, 0.836); margin-left: 32%;"  onclick="parent.location='/student-sign-up'">STUDENT SIGN-UP</button>

        

        </div>
        </div>