
    <div style=" padding-top: 70px;">
      <h1 style="text-align: center;">Download Assignments</h1>
    </div>

    <div  class="container-fluid hi">
       <table>
         <thead>
         <tr>
           <th scope="col">Serial No</th>
           <th scope="col">Sem</th>
           <th scope="col">Subject</th>
           <th scope="col">Chapter</th>
           <th scope="col">Name</th>
         </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profile of profiles;let i=index" (mouseenter)="getExt(profile.imagePath)">

            <td>{{i+1}}</td>
            <td>{{profile.sem}}</td>
            <td>{{profile.subject}}</td>
            <td>{{profile.chapter}}</td>
            <td>
              <span id="kk"></span>

               <span><b>{{profile.name}}</b></span>
              </td>
      </tr>
    </tbody>
       </table>
        </div>
